body{
    transform: translateY(-50%);
    display: flex;
    margin-top: 20px;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 0, 0, 0.266);
    border: 1px solid green;
}

span:nth-child(1){
    color: #86908e;

    align-items: center;
    font-size: 14px;
font-weight: bold;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-right: 5px;
    background: #000;
    margin-right: 5px;
    font-size: 20px;
}





